<br>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            <div class="card-body">
                <button (click)="loginGoogle()" class="btn btn-primary">Google Login</button>
                <br><br>
                <button (click)="loginAnon()" class="btn btn-secondary" disabled>Anonymous Login</button>
            </div>
        </div>
    </div>
</div>