<br>
<ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let board of afService.boards | async">
    <span class="nav-link boardItem" [class.active]="board.$key === afService.currentBoardKey" (click)="afService.setActiveBoard(board)">{{board.name}}</span>
  </li>
  <li>
    <button class="btn btn-outline-success newButton" (click)="openNewBoardModal()">
      <span class="fa fa-fw fa-plus"></span>
    </button>
  </li>
</ul>
<br>
<ng-container *ngIf="afService.tasksRef">
  <div class="form-group">
    <input type="text" id="taskInput" placeholder="Enter a new task" *ngIf="isAuthenticated()" (keyup.enter)="createTask($event.target.value)"
      [(ngModel)]="newTask" class="form-control form-control-lg" />
  </div>

  <div class="card border-secondary">
    <div class="card-header">
      <h2 class="text-secondary">Tasks</h2>
    </div>
    <div class="list-group list-group-flush">
      <button class="list-group-item list-group-item-secondary list-group-item-action" *ngFor="let task of this.afService.tasks | async"
        (click)="toggleTask(task)">
        <span [class.text-muted]="task.completed">
          <span class="fa fa-lg fa-fw" [ngClass]="task.completed ? 'fa-check-square-o' : 'fa-square-o'"></span>
          {{task.text}}
        </span>
        <span class="pull-right">
          <button class="btn btn-sm btn-outline-info" (click)="openEditModal(task, $event)"><span class="fa fa-pencil"></span></button>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteTask(task, $event)"><span class="fa fa-times"></span></button>
      </span>
      </button>
    </div>
  </div>
</ng-container>
