<div class="modal-header">
  <h4 class="modal-title">Create New Board</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="nameInput">Board Name</label>
    <input id="nameInput" type="text" [(ngModel)]="boardName" class="form-control">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="close()">Close</button>
  <button type="button" class="btn btn-outline-primary" (click)="save()" [disabled]="boardName.length < 1">Save</button>
</div>