<nav class="navbar navbar-dark bg-secondary">
    <span class="navbar-brand">{{title}}</span>
    <span>
        <span class="text-light" *ngIf="afService.isAuthenticated && afService.user.displayName">{{afService.user.displayName}}</span>&nbsp;
        <button (click)="afService.logout()" *ngIf="afService.isAuthenticated" class="btn btn-sm btn-dark">Logout</button>
        <span class="text-light" *ngIf="!afService.isAuthenticated">Logged out</span>
    </span>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>