<div class="modal-header">
  <h4 class="modal-title">Task Details</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="input-group">
    <span class="input-group-btn">
      <button type="button" class="btn btn-outline-secondary" (click)="toggleCompleted()">
        <span class="fa fa-lg fa-fw" [ngClass]="task.completed ? 'fa-check-square-o' : 'fa-square-o'"></span>
      </button>
    </span>
    <input type="text" [(ngModel)]="task.text" class="form-control">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="close()">Close</button>
  <button type="button" class="btn btn-outline-primary" (click)="save()">Save</button>
</div>